<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
						<li><a href="/index.html">Home</a></li>
		        	<li><a href="/projects.html">Projects</a></li>
							<li><a href="/EDA.html">EDA cases</a></li>
				<li><a href="/dsatWork.html">Data Science at Work</a></li>
		        	<li><a href="/concepts.html">Concepts</a></li>
							<li><a href="/tutorials.html">Tutorials</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div>
			<footer>
	    		<ul>
	        		 <li><a href="mailto:kireeti.boorla@gmail.com">email: kireeti.boorla@gmail.com</a></li>
	        		 <li><a href="https://github.com/kireetigupta">github.com/kireetigupta</a></li>
				</ul>
			</footer>
		</body>
	</html>
